<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    @RenderSection("IncludeScript", false)
    <script type="text/javascript">
        var gb_approot = '@Url.Content("~")';
        var gb_area = '@ViewBag.area';
        var gb_controller = '@ViewBag.controller';
        $(document).ready(function () {
        });
    </script>
</head>
<body>
    <div id="container">
        <div id="header"></div>
        <div id="main">
            <div id="sidebar">
                @RenderSection("menu", false)
            </div>
            <div id="content">@RenderBody()</div>
        </div>
    </div>
    @Html.Partial("Manage/includeDialog")
</body>
</html>
