@using ProcCore.Business.Logic;
@using ProcCore.DatabaseCore;
@using ProcCore.DatabaseCore.DataBaseConnection;
@using ProcCore.DatabaseCore.DatabaseName;
@{
    //預設的資料庫
    String DataConnectionCode = System.Configuration.ConfigurationManager.AppSettings["DB00"];
    String[] DataConnectionInfo = DataConnectionCode.Split(',');
    //直接採用預設的資料庫
    BaseConnection BConn = new BaseConnection()
    {
        Server = String.IsNullOrWhiteSpace(DataConnectionInfo[0]) ? Server.MapPath("~") : DataConnectionInfo[0],
        Account = DataConnectionInfo[1],
        Password = DataConnectionInfo[2]
    };
    ProcCore.DatabaseCore.DataBaseConnection.CommConnection conn = BConn.GetConnection();
    SYSMenu SMenu = new SYSMenu(int.Parse(Session["ID"].ToString()), ViewData["WebAppPath"].ToString(), conn);
}
<ul id="WebMenu">
    <li>
        <div class="ui-widget-header">@Resources.Res.Info_LoginInfo</div>
        <ul>
            <li><a class="ui-state-hover">@ViewData["user"]/@ViewData["lang"]</a></li>
            <li><a class="ui-state-hover">Last Login:@( ((DateTime)ViewData["lastlogin"]).ToString("yyyy/MM/dd HH:mm") )</a></li>
        </ul>
    </li>

    @foreach (MenuFoler MFolder in SMenu.GetMenuFolder)
    { 
        <li>
            <div class="ui-widget-header">@MFolder.FolderName</div>
            <ul>
                @foreach (MenuItem MItem in MFolder.GetMenuItem)
                { 
                    <li><a href="@MItem.Link" class="ui-state-hover">@MItem.ItemName</a></li>
                }
            </ul>
        </li>
    }
</ul>
